---
import { ExploreUtil } from "../../game-state/explore.util";
import { GameEngine } from "../../game-state/game.state";
import { GameUtil } from "../../game-state/game.util";
import { MilitaryUtil } from "../../game-state/military.util";
import LayoutAuth from "../../layouts/LayoutAuth.astro";
import { Action, ActionType, ACTION_TITLE } from "../../models/action.model";
import { ROUTES } from "../../utils/routes.const";
import { SecurityUtil } from "../../utils/security.util";

const session = SecurityUtil.getUser(Astro.request);
const ACTION = "action";
let error;

if (!session) {
	return Astro.redirect(ROUTES.login);
}

const actions: Action[] = [{
	type: "explore",
	amount: 36
}, {
	type: "tanks",
	amount: 100
}];

const kingdom = await GameEngine.loadKingdom(session.accountId);
if (!kingdom) return Astro.redirect(ROUTES.createKingdom);

if (Astro.request.method === "POST") {
	const formData = await Astro.request.formData();
	const values = [...formData.values()];
	const action = formData.get(ACTION) as ActionType;
	// console.log({action});

	switch (action) {
		case "explore": {
			const current = GameUtil.getCurrent(kingdom);
			console.log("exploration:", current.money, current.queues.land);
			error = ExploreUtil.explore(kingdom, 36)[1];
			console.log("exploration:", current.money, current.queues.land);
		}
		case "tanks": {
			const current = GameUtil.getCurrent(kingdom);
			console.log("tanks:", current.money, current.queues.military.tanks || []);
			error = MilitaryUtil.buy(kingdom, 'tanks', 100);
			console.log("tanks:", current.money, current.queues.military.tanks);
		}
	}

	// if (!error) {
	// 	return Astro.redirect(ROUTES.status);
	// }
}
---

<LayoutAuth title="Action Centre">
	<div class="grid grid-cols-1 gap-5 w-max">
		{!!error && <pre class="text-red-500 text-sm">{error}</pre>}
		{actions.map(({type, amount}) => {
			return (
			<form method="post">
				<input value={type} name={ACTION} type="hidden" />
				<button type="submit" class="w-64">{ACTION_TITLE[type](amount)}</button>
			</form>
			)
		})}

		<!-- <pre>{JSON.stringify(GameUtil.getCurrent(kingdom).queues, null, 2)}</pre> -->
	
		<!-- <form method="post">
			<input value="starmines" name={ACTION} type="hidden" />
			<button type="submit" class="w-64">Build star mines</button>
		</form>
		<form method="post">
			<input value="residences" name={ACTION} type="hidden" />
			<button type="submit" class="w-64">Build residences</button>
		</form>
		<form method="post">
			<input value="tanks" name={ACTION} type="hidden" />
			<button type="submit" class="w-64">Buy tanks</button>
		</form> -->
	</div>
</LayoutAuth>
