---
import { GameEngine } from "../../game-state/game.state";
import { GameUtil } from "../../game-state/game.util";
import LayoutAuth from "../../layouts/LayoutAuth.astro";
import type { Snapshot } from "../../models/kingdom-dto.model";
import { ROUTES } from "../../utils/routes.const";
import { SecurityUtil } from "../../utils/security.util";

const session = SecurityUtil.getUser(Astro.request);

export interface Props {
	title: string;
}

if (!session) {
	return Astro.redirect(ROUTES.login);
}

const kingdom = await GameEngine.loadKingdom(session.accountId);

if (!kingdom) {
	return Astro.redirect(ROUTES.createKingdom);
}
const current = GameUtil.getCurrent(kingdom);
const kdTick = kingdom?.snapshots.size || 0;

if (Astro.request.method === "POST" && kingdom) {
	await GameEngine.tickKingdom(session.accountId);
	return Astro.redirect(ROUTES.status);
}

// console.log(kingdom);
// console.log({snaps: [...kingdom.snapshots.values()]});
const { queues, buildings, military, research, ...rest } = current;

// console.log({mil: queues.military});
console.log(queues);
---

<LayoutAuth title="Kingdom Status">
	{
		kingdom ? (
			<div>
				<h1 class="text-3xl mb-3">Kingom Status</h1>
				<form method="post" class="my-6">
					<button type="submit">Tick {kdTick}</button>
				</form>

				<div class="grid grid-cols-1 gap-3 text-sm">
					<h5>Money: {current.money.toLocaleString()}</h5>
					<h5>
						Land: {current.land.toLocaleString()}
						<span class="ml-6">{current.queues.land.join(", ")}</span>
					</h5>
					<div>
						Soldiers: {current.military.soldiers.toLocaleString()}{" "}
						<span class="ml-6">{(current.queues.military.soldiers || []).join(", ")}</span>
					</div>
					<div>
						Tanks: {current.military.tanks.toLocaleString()}{" "}
						<span class="ml-6">{(current.queues.military.tanks || []).join(", ")}</span>
					</div>
					<div>
						Troopers: {current.military.tr.toLocaleString()}{" "}
						<span class="ml-6">{(current.queues.military.tr || []).join(", ")}</span>
					</div>
					<div>
						Laser Troopers: {current.military.lt.toLocaleString()}{" "}
						<span class="ml-6">{(current.queues.military.lt || []).join(", ")}</span>
					</div>
					<div>
						Scientists: {current.military.sci.toLocaleString()}{" "}
						<span class="ml-6">{(current.queues.military.sci || []).join(", ")}</span>
					</div>
				</div>
				<a class="text-orange-500 mt-6 block" href="/kingdom/details">
					Kingom Details (debug info)
				</a>
			</div>
		) : (
			<>
				<h3 class="text-sm text-orange-400 my-2">You don't have a kingdom yet</h3>
				<a href={ROUTES.createKingdom}>
					<button>Create kingdom</button>
				</a>
			</>
		)
	}
</LayoutAuth>
