---
import { SecurityUtil } from "../utils/security.util";
import "../styles/global.css";
import { ROUTES } from "../utils/routes.const";

// import { isLoggedIn } from '../utils';
export interface Props {
	title: string;
}

const { title } = Astro.props;
console.log("Loading page: ", title);

// If the user is not logged in, redirect them to the login page
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
			integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="container mx-auto">
		<header>
			<nav class="flex text-lg gap-5 p-3 border-b-2 mb-3">
				<a href={ROUTES.action}>
					<i class="fa fa-rocket" aria-hidden="true"></i>
				</a>
				<a href={ROUTES.action}>Action</a>
				<a href={ROUTES.status}>Status</a>
				<a href={ROUTES.world}>World</a>
				<a href={ROUTES.tick}>Tick</a>
				<a href={ROUTES.admin.save}>Save your changes</a>
				<a href={ROUTES.account} class="ml-auto">Account</a>
				<a href={ROUTES.logout}>Logout</a>
			</nav>
		</header>
		<slot />
		<style>

		</style>
	</body>
</html>
