---
import "../styles/global.css";
import { ROUTES } from "../utils/routes.const";

export interface Props {
	title: string;
}

const { title } = Astro.props;
console.info("Loading page: ", title);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
			integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="container mx-auto">
		<header>
			<nav class="flex text-xl gap-5 p-3 border-b-2 mb-3">
				<a href={ROUTES.home}>
					<i class="fa fa-rocket" aria-hidden="true"></i>
				</a>
				<a href={ROUTES.login}>Login</a>
				<a href={ROUTES.createAccount} class_="bg-indigo-900 text-orange-400 hover:text-orange-600 px-2 rounded"
					>Sign up</a
				>
				<!-- <a href="/test">Test</a>
				<a href="/test2">Test 222</a> -->
			</nav>
		</header>
		<slot />
		<style>
			body {
				/* margin: 0; */
			}

			/* :global(h1) {
				font-size: var(--font-size-xl);
			}

			:global(h2) {
				font-size: var(--font-size-lg);
			}

			:global(code) {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
					monospace;
			} */
		</style>
	</body>
</html>
